*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.userlist{

    background-color: rgb(201, 197, 197);
    height: 100vh;
    text-align: center;
}
.userlist ul{
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin-bottom: 10px;
}
.userlist ul a{
    text-decoration: none;
    color: black;
}
.userlist ul li{
    background-color: white;
    width: 80vw;
    padding: 1rem;
    font-family: cursive;
    font-weight: bolder;
    font-size: larger;

}